{
  "extends": "@readme/eslint-config",
  "root": true,
  "env": {
    "browser": true,
    "worker": true
  },
  "rules": {
    "import/no-unresolved": ["error", { "ignore": ["@readme/cloudflare-worker"] }],
    "no-restricted-globals": 0,
    "no-use-before-define": ["error", "nofunc"]
  },
  "globals": {
    "INSTALL_OPTIONS": "readonly"
  }
}
